body{
	margin-top: 15vh;
	margin:auto;
	max-width: 90vw;
}
.footer-links {
    margin: 5px;
}
#duckbomb-area {
	width: 15vw;
    position: fixed;
    z-index: 1;
    bottom: 0;
}
.modern-text{
    font-family: cursive;
    white-space: pre;
    font-variant: petite-caps;
    font-size: 1.25em;
    text-shadow: 1px 1px black;
    font-weight: bold;
}	
.homepage-center-link{
	position: relative;
	align-self: center;
}
.homepage-center-link span{
	position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
  display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 10px;
  grid-template-areas:
    "a b b c"
    "a d d c"
    "e d d f"
    "e g g f";
   margin: auto;
    width: 35vw;
}
.item1 {
  grid-area: a;
}
.item2 {
  grid-area: b;
}
.item3 {
  grid-area: c;
}
.item4 {
  grid-area: d;
}
.item5{
  grid-area: e;
}
.item6 {
  grid-area: f;
}
.item7 {
  grid-area: g;
}
[class^="item"] {
    display: flex;
    inline-size: -webkit-fill-available;
    justify-content: center;
}
#duckbomb{
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-direction: normal;
}
body {
    background-image: url(../great-imagery/all-star-smaller-transparent.png);
    background-size: 175px;
    background-repeat: round;
}
@keyframes slidein {
  from {
	margin-bottom: -450px;
  }

  to {
  	margin-bottom: -8px;
  }
}

#duckbomb-area > div > div > div > label, #duckbomb-area > div > div > span {
  background: url("../great-imagery/duck-sprites.png") no-repeat;
  height: 76px;
  display: block;
  width: 70px;
  position: relative;
  background-position: -161px -395px;
  -webkit-animation: duckWing 200ms infinite step-end alternate;
  animation: duckWing 200ms infinite step-end alternate;
}

@-webkit-keyframes duckWing {
  0% {
    background-position: -150px -395px;
  }
  33% {
    background-position: -75px -395px;
  }
  66% {
    background-position: 0px -395px;
  }
  100% {
    background-position: 0px -395px;
  }
}
@keyframes duckWing {
  0% {
    background-position: -150px -395px;
  }
  33% {
    background-position: -75px -395px;
  }
  66% {
    background-position: 0px -395px;
  }
  100% {
    background-position: 0px -395px;
  }
}
#duckbomb-area > div:nth-child(1) > div > div {
	position: absolute;
	-webkit-animation: duck1Travel 5s ease-out 5s forwards;
	animation: duck1Travel 5s ease-out 5s forwards;
}
@-webkit-keyframes duck1Travel {
  from {
    left: 1500px;
    bottom: 0px;
  }
  to {
    left: 150px;
    bottom: 500px;
  }
   99%{
  	opacity: 100;
  }
  100%{
    opacity: 0;
    display: none;
  }
}
@keyframes duck1Travel {
  from {
    left: 1500px;
    bottom: 0px;
  }
  to {
    left: 150px;
    bottom: 500px;
  }
  99%{
  	opacity: 100;
  }
  100%{
    opacity: 0;
    display: none;
  }
}
#duckbomb-area > div:nth-child(1){
  -webkit-animation: lvlStart 1ms steps(1) 5s forwards, lvlEnd 1ms steps(1) 14s forwards;
          animation: lvlStart 1ms steps(1) 5s forwards, lvlEnd 1ms steps(1) 14s forwards;
}
@-webkit-keyframes lvlStart {
  from {
    left: 5000px;
  }
  to {
    left: 0px;
  }
}
@keyframes lvlStart {
  from {
    left: 5000px;
  }
  to {
    left: 0px;
  }
}
@-webkit-keyframes lvlEnd {
  from {
    left: 0px;
  }
  to {
    left: 5000px;
  }
}
@keyframes lvlEnd {
  from {
    left: 0px;
  }
  to {
    left: 5000px;
  }
}

#duckbomb-area > div {
  position: absolute;
  width: 1280px;
  height: 550px;
  left: 5000px;
  overflow: visible;
}
#duckbomb-area > div > div {
  position: relative;
  width: 100%;
  height: 100%;
}
#duckbomb-area > div > div > label {
  top: 0;
  left: 0;
  height: 550px;
  width: 1280px;
}

#duckbomb-area > div:nth-child(1) > div >  span {
  -webkit-animation: duckHover 200ms infinite step-end alternate;
  animation: duckHover 200ms infinite step-end alternate;
  background-position: -80px -480px;
  display: block;
}

@-webkit-keyframes duckHover {
  0% {
    background-position: -160px -395px;
  }
  25% {
    background-position: -80px -395px;
  }
  50% {
    background-position: -80px -480px;
  }
  75% {
    background-position: 0px -480px;
  }
  100% {
    background-position: 0px -480px;
  }
}
@keyframes duckHover {
  0% {
    background-position: -160px -395px;
  }
  25% {
    background-position: -80px -395px;
  }
  50% {
    background-position: -80px -480px;
  }
  75% {
    background-position: 0px -480px;
  }
  100% {
    background-position: 0px -480px;
  }
}

